@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Montserrat&family=Sacramento&display=swap");

:root {
    --nav-color: #333;
    --nav-text: black;
    --primary-color: blue;
    --secondary-color: #ecece5;
    --hover-color: #a9970e;
}

body {
    font-family: 'Merriweather Sans', sans-serif;
}

.main-description{
    margin-bottom: 10px;
}

.main-description p {
    align-items: center;
    width: 90%;
}

     
.main-description p, 
.about-stats div p  {
    color: rgb(39, 39, 39);
}

 .about-content p {
    color: rgb(39, 39, 39);
        width: 80%;
        align-items: center;
        margin: 10px auto;
 }

 .about-milestones div h1 {
    color: var(--primary-color);
    text-align: center;
 }


.main-description h1 {
    font-size: 2.5em;
    font-weight: bolder;
}

#features h2, .about-content h2 {
    font-weight: bolder;
    margin-top: 20px;
    padding-top: 20px;
}

.container .navbar ul li {
    padding: 10px;
    margin: 0 5px;
    display: inline;
}

footer {
    background-color: #02023b ;
    color: var(--secondary-color);
}
.footer-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 0;
}

#home, #about, .navbar {
    margin: 20px 20px;
}

#features, footer {
    margin: 0;
}

footer {
    padding: 20px;
}

.navbar {
    width: 100%;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
}

.site-title {
    color: #00f;
    font-weight: bolder;
}

.team-image, .about-stats{
    margin-bottom: 20px;
}

.nav-footer a, .contact-info {
    text-decoration: none;
    color: var(--secondary-color);
}

.nav-footer a{
    display: block;
}

.about-stats {
    padding-bottom: 20px;
}

.about-stats div, #copy, h2 {
    text-align: center;
}

.about-stats div h1 {
    color: blue;
    font-weight: bold;
    margin-top: 20px;
}

.features-card {
    text-align: center;
    padding: 20px;
}

.features-card {
    margin: 0;
}

.features-card h3 {
    margin: 5px auto;
}

.about-stats div p {
    margin: 5px 0 0;
}


.main-description, .about-content {
    margin-left: 20px;
    margin-right: 20px;
}

#hero-image, #team {
    max-width: 75%;
    height: auto;
    margin: 20px;
    border-radius: 10px;;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    border-bottom: 2px solid #b0adad;
    padding-bottom: 10px;
}

.navbar nav ul {
    padding: 0;
}

.main-description, .main-image, .team-image, .about-content {
    width: 80%;
}

#team {
    width: 300px;
    height: auto;
}


#get-started {
    background-color: #00f;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 120px;
}

#learn-more {
    background-color: #fff;
    border-color: #00f;
    padding: 10px;
    border-radius: 5px;
    width: 120px;
}

.container {
    margin: 0;
}

#features {
    background-color: #eeeee8;
    margin: 0;
}

.features-card {
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 20px;
}

.features-card h3{
    font-size: 50px;
}

.navbar a {
    color: var(--nav-text);
    font-weight: bold;
}

.navbar a:hover {
    color: var(--secondary-color);
}

.container .navbar {
    justify-content: space-between;
}

/*media queries for mobile, tablet, laptop and desktop*/
@media screen and (min-width: 1024px) {
    /* CSS rules for desktops */
    #hero {
        grid-template-columns: 1fr 1fr;
    }

    .hero {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
    }

    .about-stats {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

     .about-milestones {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 10px;
    }


    #about {
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: center;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
          /* CSS rules for tablets in portrait or landscape */
          .navbar {
            display: inline;
            margin: 0 auto;
            text-align: center;
          }

          #get-started, #learn-more  {
              margin: 20px auto;
          }

          .about-stats {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;
            }

            .about-milestones {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 10px;
            }

           .call-to-action{
                text-align: center;
                margin: 10px auto;
                width: 100%;
            }

            .main-image {
                margin: 10px auto;
            }
        }

@media only screen and (max-width: 767px) {
    /*CSS Rules for mobile devices */
    #about,  #home {
        display: block;
        width: 100%;
        margin: 0 10px;
    }

    #features, #footer{
        display: block;
        width: 100%;
        margin: 0;
    }

    .about-stats{
        padding: 15px;
    }

     .about-milestones {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        margin: 10px
    }


    .call-to-action{
        text-align: center;
        margin: 10px auto;
        width: 100%;
    }



    .main-description, .main-image img, 
    .features-card, .footer-info, #team, .team-image, .main-image,
    #hero-image, .about-content, .about-stats {
        display: block;
        width: fit-content;
        margin: 10px auto;

    }
    #features {
        padding: 0;
    }
}

@media screen and (max-width: 991px) {
    .container {
        height: 100%;
    }

    .container .navbar {
        flex-direction: column;
    }

    .navbar nav ul {
        display: block;
        margin: auto;
    }
}

@media screen and (min-width: 992px) {
    .container .navbar ul li {
        display: inline;
    }

}
